<div style="text-align: center">
  <h1>Hello Charts</h1>
  <div class="chart">
    <div style="text-align: center">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [title]="chartOptions.title!"
        [xaxis]="chartOptions.xaxis!"
        [labels]="chartOptions.labels!"
        [stroke]="chartOptions.stroke!"
      ></apx-chart>
    </div>
    <!-- <div>
      hiiii
      <app-line> </app-line>
    </div>
    <div>
      <app-radial></app-radial>
    </div>
    <div>
      <app-multiple-radial></app-multiple-radial>
    </div> -->
  </div>
</div>
